ALLOWED_ORIGIN=*
SECRET_KEY=change-me-for-local-development
ACCESS_TOKEN_EXPIRE_MINUTES=30
CONTEXT=/time_weaver
DB_TYPE=sqlite3
DB_HOST=127.0.0.1
DB_PORT=0
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SCHEMA=
DB_PATH=./timeweaver.sqlite3
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
